@{
    ViewData["NoFooter"] = true;
}

@model IEnumerable<dynamic>

<head>
    <style>
        .modal-body img {
            width: 80px;
            height: 80px;
            margin-right: 5px;
            cursor: pointer;
        }

        .custom-card {
            border-radius: 25px; /* Adjust the value for more or less curvature */
            overflow: hidden;
            margin-left: 23px;
            margin-right: 23px;
        }

        .custom-header {
            background-color: #192E2E; /* Background color of the header */
            /* margin-left: 15px;
                            margin-right: 23px; */
        }

        /* Remove or comment out these lines */
        .btn-info {
            /* background-color: #0dcaf0 !important; */
        }

        .btn-warning {
            /* background-color: #ffc107 !important; */
        }

        .btn-danger {
            /* background-color: #dc3545 !important; */
        }

    </style>
</head>
<body>
    <div class="container-fluid p-0">
        <div class="card shadow border-0 my-4 custom-card">
            <div class="card-header  py-3 custom-header">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="text-white py-2">Completed Auctions</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                </br>
                @*     <div class="row pb-3">
                <div class="col-12 text-end mb-3">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Product
                </a>
                </div>
                </div> *@

                <div class="table-responsive">
                    <table id="tblData" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width:210px">Title</th>
                                <th style="width:150px">Starting Price</th>
                                <th style="width:150px">Highest Bid</th>
                                <th>Location</th> 
                                <th>Category</th>
                                <th style="width:170px">Shipping Provider</th>
                                <th>Buyer's Name</th>
                                <th>Seller's Name</th>
                                <th>Delivery Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var auction in Model)
                            {
                                <tr>
                                    <td>@auction.Title</td>
                                    <td>@auction.StartingPrice</td>
                                    <td>@auction.HighestBid</td>
                                    <td>@auction.Location</td>
                                    <td>@auction.Category</td>
                                    <td>@auction.ShippingProvider</td>
                                    <td>@auction.BuyerName</td>
                                    <td>@auction.SellerName</td>
                                    <td>@auction.DeliveryStatus</td>
                                    <td>
                                        <a href="/Admin/CompletedAuctions/Edit/@auction.ProductId" class="btn btn-warning btn-sm">
                                            <i class="bi bi-pencil"></i> Edit
                                        </a>
                                        <a class="btn btn-info btn-sm more-info-button" href="/Admin/CompletedAuctions/MoreInfo/@auction.ProductId">
                                            <i class="bi bi-info-circle"></i> More Info
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
