@{
    ViewData["NoFooter"] = true;
}
@model LilamiBazzar.Models.Models.CompletedAuction
</br>
<div class="container">
    <div class="card">
        <div class="card-header bg-dark text-light ml-0">
            <div class="container row">
                <div class="col-12 d-none d-md-block col-md-6 pb-1">
                    <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                </div>
                <div class="col-12 col-md-4 offset-md-2 text-right">
                    <a class="btn btn-outline-info form-control btn-sm" href="/admin/Order">Back to Orders</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-12 col-lg-6 pb-4">
                        <div class="row">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Item Details:</span>
                            </h4>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Title</div>
                            <div class="col-9">
                                <input readonly type="text" class="form-control" data-val="true"  value="@Model.Title" />

                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Location Of Item</div>
                            <div class="col-9">
                                <input readonly type="text" class="form-control" data-val="true"    value="@Model.Location" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Starting Bid</div>
                            <div class="col-9">
                                <input readonly type="text" class="form-control" data-val="true" value="@Model.StartingPrice" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Highest Bidding</div>
                            <div class="col-9">
                                <input readonly type="text" class="form-control" data-val="true" value="@Model.HighestBid" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Buyers Name</div>
                            <div class="col-9">
                                <input readonly type="text" class="form-control"  value="@Model.BuyerName" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Sellers Name</div>
                            <div class="col-9">
                                <input readonly type="text" class="form-control" value="@Model.SellerName" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Category</div>
                            <div class="col-9">
                                <input readonly type="text" class="form-control" value="@Model.Category" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Shipping Provider</div>
                            <div class="col-9">
                                <input readonly type="text" class="form-control"  value="@Model.ShippingProvider" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">DeliveryStatus</div>
                            <div class="col-9">
                                <input readonly type="text" class="form-control" value="@Model.DeliveryStatus" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Estimated Delivery Date</div>
                            <div class="col-9">
                                <input value="@Model.EstimatedDeliveryDate" readonly type="text" class="form-control" />
                            </div>
                        </div>

                    
                        
                    </div>
                    <div class="col-12 col-lg-5 offset-lg-1">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-primary">Order Summary</span>
                        </h4>
                        @if(Model.DeliveryStatus == "PENDING")
                        {
                            <label class="btn btn-outline-primary form-control my-2">Order Status - Pending</label>
                        }else if(Model.DeliveryStatus == "DELIVERED")
                        {
                            <label class="btn btn-outline-primary form-control my-2">Order Status - DELIVERED</label>
                        }
                        else if (Model.DeliveryStatus == "SHIPPED")
                        {
                            <label class="btn btn-outline-primary form-control my-2">Order Status - SHIPPED</label>
                        }
                        else if (Model.DeliveryStatus == "INTRANSIT")
                        {
                            <label class="btn btn-outline-primary form-control my-2">Order Status - INTRANSIT</label>
                        }

                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between p-2">
                                <div class="row container">
                                    <div class="col-8">

                                        <h6 class="my-0 text-primary">Fortune of Time</h6>
                                        <small class="text-muted">Price :Rs.@Model.HighestBid</small><br />
                                        <small class="text-muted">Quantity : 1</small>
                                    </div>
                                    <div class="col-4 text-end">
                                        <p class="text-success">Rs.@Model.HighestBid</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item bg-primary">
                                <div class="row container">
                                    <div class="col-6">
                                        <h5 class="text-white">TOTAL </h5>
                                    </div>
                                    <div class="col-6 text-end">
                                        <h5 class="text-white">Rs.@Model.HighestBid</h5>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>